*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body[class="light"] {
  --scene-color: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);

  --image-title: url(../assets/day-title-cropped.png);
  --image-foreground: url(../assets/city-day.png);
  --image-background: url(../assets/sun.png);
  --image-card: url(../assets/day-unselected.png);
  --image-hover: url(../assets/day-hover.png);
  --image-cloud: url(../assets/cloud1.png);

  --form-background: #FFF;
  --text-color: #000;

  --button-color: purple;
  --button-hover: white;
}

body[class="dark"] {
  --scene-color: linear-gradient(to left bottom, #000000, #0f0006, #170011,
  #1a001a, #180324, #180b2e, #181239, #151744, #211e50, #2e255c, #3b2d69, #483475);

  --image-title: url(../assets/night-title.png);
  --image-foreground: url(../assets/city-night.png);
  --image-background: url(../assets/moon.png);
  --image-card: url(../assets/night-unselected.png);
  --image-hover: url(../assets/night-hover.png);
  --image-cloud: none;

  --form-background: #1d2d50;
  --text-color: #fcdab7;

  --button-color: #ffbd69;
  --button-hover: white;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--scene-color);
}

.query-wrapper {
  margin-top: 10vh;
  z-index: 1;
}

.query {
  display: inline-block;
  color: var(--text-color);
  background: var(--form-background);
  padding: 4rem;
  filter: drop-shadow(5px 5px 5px #000000);
  border-radius: 24px;

  max-height: 60vh;
  overflow-y: auto;
}

#star-title {
  text-align: center;
}

#neighbors-coordinates,
#neighbors-name,
#radius-coordinates,
#radius-name
{
  display: none
}

.possible-form > form > label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.possible-form > form > label > input {
  float: right;
}

.possible-form > form > input[type="submit"] {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
  font-weight: bold;
  border-radius: 25px;
  font-size: 1.5rem;

  background: var(--button-color);
  color: var(--button-hover);

}

.possible-form > form > input[type="submit"]:hover {
  background: var(--button-hover);
  border: 3px solid var(--button-color);
  color: var(--button-color);
}