@import 'main.css';
/*CSS Responsible for the Theme Selector (The Card)*/
.theme-selection {
    position:absolute;
    bottom: 3vh;
    right: 0;
    height: 20%;
    width: auto;
    margin-right: 1vw;
    content: var(--image-card);
}

.theme-selection:hover {
    content: var(--image-hover);
}

#current-theme-image {
    height: auto;
    width: auto;
    max-height: 150px;
    max-width: 150px;
}